$background-home: url('../images/Jelle van Wetten.png');
$background-about: url('../images/head.jpg');

$h1-fontsize: 100px;
$h2-fontsize: 31px;

$Rozha-one: 'Rozha One', serif;
$lato: 'Lato', sans-serif;

$white-color: white;
$purple-color: #AA6DB8;
$black-color: #2C2C2C;
